<%= form_for balance, url: url_for(controller: 'users', action: 'update_balance') do |f| %>
    <div class="field">
      <%= f.label :value, "Update Balance:" %>
      <% if !balance.errors.any? %>
          <span class="value-currency"><%= f.text_field :value, placeholder: number_with_precision(user.balance.value, precision: 2) %></span>
      <% else %>
          <div class="error-panel">
            <span class="value-currency"><%= f.text_field :value, placeholder: number_with_precision(user.balance.value, precision: 2) %></span>

            <div id="error_explanation">
              <ul>
                <% balance.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
      <% end %>
    </div>
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
<% end %>