<tr>
  <td class="<%= tense + "-date"%>"><%= frow.on %></td>
  <td class="<%= frow.diff > 0 ? (tense + "-pos") : frow.diff < 0 ? (tense + "-neg") : (tense + "-neut") %>"><%= number_to_currency(frow.diff, precision: 2, unit: '£') %></td>
  <td class="<%= frow.running_monthly_diff.nil? ? "" : frow.running_monthly_diff > 0 ? (tense + "-pos") : frow.running_monthly_diff < 0 ? (tense + "-neg") : (tense + "-neut") %>"><%= number_to_currency(frow.running_monthly_diff, precision: 2, unit: '£') %></td>
  <td class="<%= frow.balance > 0 ? (tense + "-pos") : frow.balance < 0 ? (tense + "-neg") : (tense + "-neut") %>"><%= number_to_currency(frow.balance, precision: 2, unit: '£') %></td>
</tr>