<div id="new-transfer-container"
  style="<%= "display:none;" unless transfer.errors.present? %>" class="panel panel-default">
  <div class="panel-heading">
    <h3>New Transfer</h3>
  </div>
  <div class="panel-body">
    <%= bootstrap_form_for(transfer, :as => :transfer,
        url: new_transfer_path,
        html: {:id => "new_transfer", :class => "new_transfer"},
        remote: true) do |f| %>
        <%= f.text_field :reference, :placeholder => "Cake" %>
        <%= f.text_field :on, :class => "datepicker", :label => "Date" %>
        <%= f.number_field :amount, :placeholder => "20.00",prepend: "£" %>
        <%= f.static_control :label => "Recurrence" do %>
          <%= select_tag(:recurrence, options_for_select(TransferFactory::TYPES, 1), :class => "form-control") %>
        <% end %>
        <%= f.form_group :outgoing, label: { text: "Direction" } do %>
          <%= f.radio_button :outgoing, 0, label: "In", checked: true %>
          <%= f.radio_button :outgoing, 1, label: "Out" %>
        <% end %>
        <%= f.submit "Create!" %>
    <% end %>
  </div>
</div>
