<div id="new_transfer_container" class="collapse <%=  "collapsed" unless transfer.errors.any? %>">
<%= form_for transfer,
    url: url_for(controller: 'users', action: 'new_transfer')do |f| %>
    <% if transfer.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% transfer.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :reference %><br>
      <div class="input-group">
        <%= f.text_field :reference, :placeholder => "Cake", :class => "form-control" %>
      </div>
    </div>
    <div class="field">
      <%= f.label :on, "Date" %><br>
      <div class="input-group">
        <%= f.text_field :on, :class => "form-control datepicker" %>
      </div>
    </div>
    <div class="field">
      <%= f.label :amount %><br>
      <div class="input-group">
        <span class="input-group-addon">£</span>
        <%= f.number_field :amount, placeholder: "20.00", :class => "form-control" %>
      </div>
    </div>
    <div class="field">
      <%= f.label :outgoing %><br>
      <%= f.radio_button :outgoing, true, checked: true %>
      <%= f.label :outgoing, "Yes", value: true %>
      <%= f.radio_button :outgoing, false, value: false %>
      <%= f.label :outgoing, "No", value: false %>

    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
</div>
