<%= form_for transfer, url: url_for(controller: 'users', action: 'new_transfer'), html: {style: (transfer.errors.any? ? "display:block;" : "display:none;").html_safe} do |f| %>
    <% if transfer.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% transfer.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :reference %><br>
      <%= f.text_field :reference %>
    </div>
    <div class="field">
      <%= f.label :on, "Date" %><br>
      <%= f.text_field :on, class: "datepicker" %>
    </div>
    <div class="field">
      <%= f.label :amount %><br>
      <%= f.text_field :amount, type: "text" %>
    </div>
    <div class="field">
      <%= f.label :recurrence %><br>
      <%= f.select(:recurrence, options_for_select(Transfer.recurrences.keys.to_a)) %>
    </div>
    <div class="field">
      <%= f.label :outgoing %><br>
      <%= f.radio_button :outgoing, true, checked: true %>
      <%= f.label :outgoing, "Yes", value: true %>
      <%= f.radio_button :outgoing, false, value: false %>
      <%= f.label :outgoing, "No", value: false %>

    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>