<%= render 'nav_bar', :balance => @balance %>

<p id="notice"><%= notice %></p>
<div class="user-transfers">
  <h1>Transfers</h1>

  <div class="user-transfers-new">
    <%= render 'new_transfer_toggle', transfer: @transfer %>
    <%= render 'new_transfer_form', transfer: @transfer %>
  </div>
  <%= render "transfers_list", user: @user %>
</div>
<div>
  <%= link_to "Download csv", user_path(@user, :format => :csv) %>
</div>
<div id="balance-data" style="float: left; width: 50%; height: 250px; overflow-y: scroll;">
</div>
<div id="selected-balance-info" style="float:left;">
</div>
<div class="user-data"
  data-json-url="<%= user_path @user %>.json"
  data-transfers-url="<%= user_transfers_path @user %>.json"
</div>

<!--Div that will hold the pie chart-->
<div id="chart_div"></div>
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
