<div class="user-header">
  <h1 class="user-title"><%= link_to @user.name, @user %></h1>

  <div class="balance-update">
    <%= render 'balance_update', balance: defined?(@balance) ? @balance : Balance.new, user: @user %>
  </div>
</div>

<p id="notice"><%= notice %></p>
<div class="user-transfers">
  <h1>Transfers</h1>

  <div class="user-transfers-new">
    <p id="user-transfer-new-button" class="closed">New</p>
    <%= render 'new_transfer_form', transfer: Transfer.new %>
  </div>

  <div class="options">
    <p id="options-in" class="selected">In</p>

    <p id="options-out" class="unselected">Out</p>
  </div>
  <div class="user-transfers-panel">
    <div id="user-transfers-in">
      <% @user.transfers.where(outgoing: false).each do |tr| %>
          <%= render "Transfers/show", transfer: tr %>
      <% end %>
    </div>
    <div id="user-transfers-out">
      <% @user.transfers.where(outgoing: true).each do |tr| %>
          <%= render "Transfers/show", transfer: tr %>
      <% end %>
    </div>
  </div>
</div>

<%= render "finance_table", user: @user %>