<%= render 'balances/new', :balance => @balance %>

<p id="notice"><%= notice %></p>

<div class="container">
  <div class="user-transfers col-md-3">
    <h2>Transfers</h2>

    <div class="user-transfers-new">
      <%= render 'transfers/new_transfer_toggle', transfer: @transfer %>
      <%= render 'transfers/new_transfer_form', transfer: @transfer %>
    </div>
    <%= render "transfers/transfers_list", user: current_user %>
  </div>
  <div class="col-md-9">
    <div>
      <%= link_to "Download csv", balances_path(:format => :csv) %>
    </div>
    <canvas id="balance-data">
    </canvas>
    <div id="selected-balance-info" style="float:left;">
    </div>
    <div id="chart_div"></div>
    <%= render "balance_forecasts/blank_slate" %>
  </div>
</div>
<div class="user-data"
  data-balances-url="<%= balances_path(format: :json) %>"
  data-balance-forecast-url="<%= balance_forecast_path %>"
  data-transfers-url="<%= transfers_path %>"
</div>


<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
