<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @balance.value %>
</p>

<p>
  <strong>Transfer:</strong>
  <%= @balance.transfer %>
</p>

<%= link_to 'Edit', edit_balance_path(@balance) %> |
<%= link_to 'Back', balances_path %>
