<div class="transfer <%= transfer.outgoing ? "out" : "in" %>">


  <h2><%= transfer.reference.capitalize %></h2>

  <p><strong>Date: </strong> <%= transfer.on.strftime("%d/%m/%Y") %></p>

  <p><strong>Amount: </strong> <%= number_to_currency(transfer.amount, precision: 2, unit: '£') %></p>

  <p><strong>Recurrence: </strong> <%= transfer.recurrence %></p>

  <%= link_to 'Destroy', transfer, method: :delete, data: {confirm: 'Are you sure?'} %>
</div>