<p id="notice"><%= notice %></p>

<h1>Listing Transfers</h1>

<table>
  <thead>
  <tr>
    <th>User</th>
    <th>Ref</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Recurrence</th>
    <th>Outgoing</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @transfers.each do |transfer| %>
      <tr>
        <td><%= transfer.user.name %></td>
        <td><%= transfer.reference %></td>
        <td><%= transfer.on %></td>
        <td><%= transfer.amount %></td>
        <td><%= transfer.recurrence %></td>
        <td><%= transfer.outgoing %></td>

        <td><%= link_to 'Show', transfer %></td>
        <td><%= link_to 'Edit', edit_transfer_path(transfer) %></td>
        <td><%= link_to 'Destroy', transfer, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transfer', new_transfer_path %>
